[Unit]
Description=API server for serving harvester app
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/html/app
Environment="PATH=/var/www/html/app/env/bin"
Environment="AUTH_USER=username"
Environment="AUTH_PASS=password"
ExecStart=/var/www/html/app/env/bin/gunicorn --workers 4 --bind 127.0.0.1:3000 -m 700 wsgi:app

[Install]
WantedBy=multi-user.target

